<section class="page-wrap">
  <section class="row">
    <form name="userForm" novalidate autocomplete="off">

      <div class="input-container">
        <div class="title">
          <p>Register</p>
        </div>
        <div class="field-container">
          <input type="text"
                 placeholder="First Name"
                 name="firstName"
                 ng-model="home.newUser.firstName"
                 ng-model-options="{debounce: 200}"
                 required>
          <div ng-show="!home.submitted" class="err"
               ng-messages="!userForm.firstName.$pristine && userForm.firstName.$error">
            <p ng-message="required">This field is required</p>
          </div>
        </div>

        <div class="field-container">
          <input type="text"
                 placeholder="Last Name"
                 name="lastName"
                 ng-model="home.newUser.lastName"
                 ng-model-options="{debounce: 200}"
                 required>
          <div ng-show="!home.submitted" class="err"
               ng-messages="!userForm.lastName.$pristine && userForm.lastName.$error">
            <p ng-message="required">This field is required</p>
          </div>
        </div>

        <div class="field-container">
          <input type="email"
                 name="email"
                 placeholder="E-mail Address"
                 ng-model="home.newUser.email"
                 ng-model-options="{debounce: 200}"
                 required>
          <div ng-show="!home.submitted" class="err" ng-messages="!userForm.email.$pristine && userForm.email.$error">
            <p ng-message="required">This field is required</p>
            <p ng-message="email">Valid email is required</p>
          </div>
        </div>

        <div class="submit-btn" ng-click="home.addUser(userForm.$valid)">
          <p>Submit</p>
        </div>
        <div ng-show="home.formError" class="err">
          <p>Please Complete Form</p>
        </div>
        <div ng-if="home.serverError" class="err">
          <p>Email address in use. Try again.</p>
        </div>
      </div>
    </form>

  </section>
</section>


